@mixin opacity($opacity:0.5){
	opacity:$opacity;
	filter:alpha(opacity=$opacity*100);
}
@mixin borderRadius($radius:4px){
	border-radius:$radius;
	-webkit-border-radius:$radius;
	-o-border-radius:$radius;
	-moz-border-radius:$radius;
}
@mixin inlineBlock(){
	display:inline-block;
	*zoom:1;
	*display:inline;
}
@mixin afterClear(){
	&:after{
		content:"";
		display: table;
		clear:both;
		*zoom:1;
		*display:block;
	}
}

@mixin ellipsisLine{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
@mixin fullSize{
	height:100%;
	width:100%;
}
@mixin boxShadow($shadow){
	box-shadow:$shadow;
	-webkit-box-shadow:$shadow;
	-moz-box-shadow:$shadow;
}