@charset "utf-8";*{margin:0;padding:0;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{color:#100e0c;font:14px Helvetica,\5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\5b8b\4f53,Arial,sans-serif}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none}
img{border:0}
input,img{vertical-align:middle}
input,select,textarea{outline:0;/*-webkit-appearance:none*/}

a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0);}
