$xs-screen:480px;
$sm-screen:768px;
$md-screen:1280px;
$row-padding-top:10px;
$row-padding-bottom:10px;
$row-padding-left:10px;
$row-padding-right:10px;

.row{
	padding-top:$row-padding-top;
	padding-right:$row-padding-right;
	padding-bottom:$row-padding-bottom;
	padding-left:$row-padding-left;
	&:after{
		content:"";
		display:table;
		clear:both;
	}
	&>.row{
		margin-left:-$row-padding-left;
		margin-right:-$row-padding-right;
	}
}
@media(max-width:$xs-screen){
	.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left;box-sizing:border-box;}
	.col-xs-1{width:8.33333%;}
	.col-xs-2{width:16.66666%;}
	.col-xs-3{width:25%;}
	.col-xs-4{width:33.33333%;}
	.col-xs-5{width:41.6666666%;}
	.col-xs-6{width:50%;}
	.col-xs-7{width:58.333333%;}
	.col-xs-8{width:66.66666%;}
	.col-xs-9{width:75%;}
	.col-xs-10{width:83.3333%;}
	.col-xs-11{width:91.666666%;}
	.col-xs-12{width:100%;}

	.col-xs-left-1{margin-left:8.33333%;}
	.col-xs-left-2{margin-left:16.66666%;}
	.col-xs-left-3{margin-left:25%;}
	.col-xs-left-4{margin-left:33.33333%;}
	.col-xs-left-5{margin-left:41.6666666%;}
	.col-xs-left-6{margin-left:50%;}
	.col-xs-left-7{margin-left:58.333333%;}
	.col-xs-left-8{margin-left:66.66666%;}
	.col-xs-left-9{margin-left:75%;}
	.col-xs-left-10{margin-left:83.3333%;}
	.col-xs-left-11{margin-left:91.666666%;}

}

@media (min-width:$xs-screen+1) and (max-width:$sm-screen){
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left;box-sizing:border-box;}
	.col-sm-1{width:8.33333%;}
	.col-sm-2{width:16.66666%;}
	.col-sm-3{width:25%;}
	.col-sm-4{width:33.33333%;}
	.col-sm-5{width:41.6666666%;}
	.col-sm-6{width:50%;}
	.col-sm-7{width:58.333333%;}
	.col-sm-8{width:66.66666%;}
	.col-sm-9{width:75%;}
	.col-sm-10{width:83.3333%;}
	.col-sm-11{width:91.666666%;}
	.col-sm-12{width:100%;}

	.col-sm-left-1{margin-left:8.33333%;}
	.col-sm-left-2{margin-left:16.66666%;}
	.col-sm-left-3{margin-left:25%;}
	.col-sm-left-4{margin-left:33.33333%;}
	.col-sm-left-5{margin-left:41.6666666%;}
	.col-sm-left-6{margin-left:50%;}
	.col-sm-left-7{margin-left:58.333333%;}
	.col-sm-left-8{margin-left:66.66666%;}
	.col-sm-left-9{margin-left:75%;}
	.col-sm-left-10{margin-left:83.3333%;}
	.col-sm-left-11{margin-left:91.666666%;}

}

@media (min-width:$sm-screen+1) and (max-width:$md-screen){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left;box-sizing:border-box;}
	.col-md-1{width:8.33333%;}
	.col-md-2{width:16.66666%;}
	.col-md-3{width:25%;}
	.col-md-4{width:33.33333%;}
	.col-md-5{width:41.6666666%;}
	.col-md-6{width:50%;}
	.col-md-7{width:58.333333%;}
	.col-md-8{width:66.66666%;}
	.col-md-9{width:75%;}
	.col-md-10{width:83.3333%;}
	.col-md-11{width:91.666666%;}
	.col-md-12{width:100%;}

	.col-md-left-1{margin-left:8.33333%;}
	.col-md-left-2{margin-left:16.66666%;}
	.col-md-left-3{margin-left:25%;}
	.col-md-left-4{margin-left:33.33333%;}
	.col-md-left-5{margin-left:41.6666666%;}
	.col-md-left-6{margin-left:50%;}
	.col-md-left-7{margin-left:58.333333%;}
	.col-md-left-8{margin-left:66.66666%;}
	.col-md-left-9{margin-left:75%;}
	.col-md-left-10{margin-left:83.3333%;}
	.col-md-left-11{margin-left:91.666666%;}
}

@media (min-width:$md-screen+1){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left;box-sizing:border-box;}
	.col-lg-1{width:8.33333%;}
	.col-lg-2{width:16.66666%;}
	.col-lg-3{width:25%;}
	.col-lg-4{width:33.33333%;}
	.col-lg-5{width:41.6666666%;}
	.col-lg-6{width:50%;}
	.col-lg-7{width:58.333333%;}
	.col-lg-8{width:66.66666%;}
	.col-lg-9{width:75%;}
	.col-lg-10{width:83.3333%;}
	.col-lg-11{width:91.666666%;}
	.col-lg-12{width:100%;}


	.col-lg-left-1{margin-left:8.33333%;}
	.col-lg-left-2{margin-left:16.66666%;}
	.col-lg-left-3{margin-left:25%;}
	.col-lg-left-4{margin-left:33.33333%;}
	.col-lg-left-5{margin-left:41.6666666%;}
	.col-lg-left-6{margin-left:50%;}
	.col-lg-left-7{margin-left:58.333333%;}
	.col-lg-left-8{margin-left:66.66666%;}
	.col-lg-left-9{margin-left:75%;}
	.col-lg-left-10{margin-left:83.3333%;}
	.col-lg-left-11{margin-left:91.666666%;}

}
